html {
	font-family: 'Fredoka One', cursive;
	background-image: url(img/bg.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
	line-height: 40px;
}

body {
	margin: 0;
	background-color: rgba(0,0,0,.7);
}


nav {
	display: flex;
	justify-content: space-between;
	height: 120px;
	align-items: center;
	padding: 0 40px;
	background-color: rgba(0,0,0, .3);
}

nav img {
	height: 100px;
	border-radius: 50px;
}

nav ul {
	display: flex;
	width: 40%;
	list-style-type: none;
	justify-content: space-between;
}

a{
	text-decoration: none;
	color: #ccc;
}


header {
	width: 50%;
	margin: 40px auto;
	text-align: center;
	padding: 50px;
}

h1 {
	font-size: 3em;
	letter-spacing: 2px;
}

main {
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 1.2em;
	text-align: center;
}

.content {
	text-align: center;
	margin:15px;
	background-color:rgba(0,0,0,.3);
}

.content img {
	width: 250px;
	height: 250px;
}



footer {
	height: 120px;
	margin-top: 100px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	color: #ccc;
}

